@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

@font-face {
    font-family:'Ascender' ;
    src: url('fontes/Ascender.ttf') format('truetype');
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}



:root{
     --cor-1:#FF5F5D;
    --cor-2:#3F7C85;
    --cor-3:#00CCBF;
    --cor-4:#72F2EB;
    --cor-5:#747E7E;

    --fonte-principal:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fonte-titulo:"Sekuya", system-ui;
    --fonte-secundaria:'Ascender';

}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-5);
}

header{
    min-height: 250px;
    
}
header > h1{
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 91px;
}
main{
    background-color: white;
    font-family: var(--fonte-principal);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 90px;
    border-radius: 10px;
    box-shadow:3px -2px 10px 2px black;
}
main h2{
    font-family: var(--fonte-secundaria);
    padding: 50px 0px 30px 0px;
}

main p{
    line-height:2em;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 20px;

}
main img{
    max-width:100%;
    margin: auto;
    display: block;
}
main #secundario{
    text-align: center;
}

main .link{
    text-decoration: none;
    color: var(--cor-5);
    font-weight: bolder;
    
}
main .link:hover{
    text-decoration: underline;
    background-color: var(--cor-4);
    padding: 4px;
    border-radius: 5px;
}

main .negrito{
    color: var(--cor-1);
    font-weight: bold;
}

aside h3{
    font-family: var(--fonte-secundaria);
     padding: 50px 0px 30px 0px;
}
aside #anime{
    text-align: center;
}
figcaption{
    text-align: center;
}
main ul{
    list-style-position: inside;
   columns: 2;
   padding: 10px;

}
main .listas{
    background-color: var(--cor-3);
   margin-top: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px var(--cor-2);

}
   



